body{
    background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
}
h1{
    color: rgb(241, 241, 245);
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
}
#content{
    background: #fff;
    width: 300px;
    height: 100%;
    margin: 60px auto;
    padding:  30px 30px;
    border-radius: 10px;
    box-shadow: 10px 30px 5px rgba(255, 255, 255, 0.5)
}
form input{
    width: 100%;
    margin: 15px auto;
    border: 0;
    border-bottom: 1px solid #eee;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
}
#btn{
    margin:20px auto ;
    border: 0;
    background: rgb(46, 45, 45);
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    color: rgb(223, 223, 223);
}
form input:focus{
    outline: none;
    border-bottom: 3px solid #7e7d7e;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}
